USE [Intranet]
GO
/****** Object:  Table [sepomex].[Ciudad]    Script Date: 25/08/2015 12:27:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sepomex].[Ciudad](
	[CiudadID] [int] NOT NULL,
	[Nombre] [varchar](500) NULL,
	[EstadoID] [int] NULL,
	[MunicipioID] [int] NULL,
	[FechaUltimaModificacion] [datetime] NULL,
	[UsuarioID] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [sepomex].[Ciudad] ([CiudadID], [Nombre], [EstadoID], [MunicipioID], [FechaUltimaModificacion], [UsuarioID], [Activo]) VALUES (1, N'Aguascalientes', 1, 1, CAST(N'2015-01-01 00:00:00.000' AS DateTime), 1, 1)
INSERT [sepomex].[Ciudad] ([CiudadID], [Nombre], [EstadoID], [MunicipioID], [FechaUltimaModificacion], [UsuarioID], [Activo]) VALUES (2, N'Asientos', 1, 2, CAST(N'2015-01-01 00:00:00.000' AS DateTime), 1, 1)
INSERT [sepomex].[Ciudad] ([CiudadID], [Nombre], [EstadoID], [MunicipioID], [FechaUltimaModificacion], [UsuarioID], [Activo]) VALUES (3, N'Jesús María', 1, 3, CAST(N'2015-01-01 00:00:00.000' AS DateTime), 1, 1)
GO
ALTER TABLE [sepomex].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Ciudad] FOREIGN KEY([EstadoID])
REFERENCES [sepomex].[Estado] ([EstadoID])
GO
ALTER TABLE [sepomex].[Ciudad] CHECK CONSTRAINT [FK_Estado_Ciudad]
GO
ALTER TABLE [sepomex].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Ciudad] FOREIGN KEY([MunicipioID])
REFERENCES [sepomex].[Municipio] ([MunicipioID])
GO
ALTER TABLE [sepomex].[Ciudad] CHECK CONSTRAINT [FK_Municipio_Ciudad]
GO
