USE [Intranet]
GO
/****** Object:  Table [sepomex].[Municipio]    Script Date: 25/08/2015 12:27:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sepomex].[Municipio](
	[MunicipioID] [int] NOT NULL,
	[Codigo] [varchar](4) NULL,
	[Nombre] [varchar](500) NULL,
	[EstadoID] [int] NULL,
	[FechaUltimaModificacion] [datetime] NULL,
	[UsuarioID] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Municipio] PRIMARY KEY CLUSTERED 
(
	[MunicipioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [sepomex].[Municipio] ([MunicipioID], [Codigo], [Nombre], [EstadoID], [FechaUltimaModificacion], [UsuarioID], [Activo]) VALUES (1, N'001', N'Aguascalientes', 1, CAST(N'2015-01-01 00:00:00.000' AS DateTime), 1, 1)
INSERT [sepomex].[Municipio] ([MunicipioID], [Codigo], [Nombre], [EstadoID], [FechaUltimaModificacion], [UsuarioID], [Activo]) VALUES (2, N'002', N'Asientos', 1, CAST(N'2015-01-01 00:00:00.000' AS DateTime), 1, 1)
INSERT [sepomex].[Municipio] ([MunicipioID], [Codigo], [Nombre], [EstadoID], [FechaUltimaModificacion], [UsuarioID], [Activo]) VALUES (3, N'005', N'Jesús María', 1, CAST(N'2015-01-01 00:00:00.000' AS DateTime), 1, 1)
GO
ALTER TABLE [sepomex].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Municipio] FOREIGN KEY([EstadoID])
REFERENCES [sepomex].[Estado] ([EstadoID])
GO
ALTER TABLE [sepomex].[Municipio] CHECK CONSTRAINT [FK_Estado_Municipio]
GO
